


<div class="card">
    <div class="card-body">
        <h2>{{isInEditMode ? 'UPDATE STD' : 'ADD STD'}}</h2>
        <form #stdForm="ngForm" (ngSubmit)="onStudentSubmit()">
            <div class="form-group">
                <label for="fname"><b>FirstName*</b></label>
                <input type="text" ngModel required name="fname" class="form-control">
            </div>
             <div class="form-group">
                <label for="lname"><b>LastName*</b></label>
                <input type="text" ngModel required name="lname" class="form-control">
            </div>
             <div class="form-group">
                <label for="email"><b>Email*</b></label>
                <input type="text" ngModel required name="email" class="form-control">
            </div>
             <div class="form-group">
                <label for="contact"><b>Contact*</b></label>
                <input type="text" ngModel required name="contact" class="form-control">
            </div>
             <div class="form-group">
                <label for="isActive"><b>IsActive*</b></label>
                <select type="text" ngModel required name="isActive" class="form-control">
                    <option [ngValue]="true">YES</option>
                    <option [ngValue]="false">NO</option>
                </select>
            </div>
             <div class="mt-4">

    <button 
        *ngIf="!isInEditMode"
        [disabled]="stdForm.invalid"
        type="submit"
        mat-raised-button
        color="primary"
        class="addBtn">

        ADD STUDENT

    </button>

    <button
        *ngIf="isInEditMode"
        [disabled]="stdForm.invalid"
        type="button"
        mat-raised-button
        color="warn"
        class="addBtn">

        UPDATE STUDENT

    </button>

</div>
        </form>
    </div>
</div>